<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Links</span></a>
        <div id="menu">
          <ul>
            <li><a href="#">Vegas Weddings</a></li>
            <li><a href="#">Maggiano's Little Italy</a></li>
				<li><a href="#">Freakin' Japan</a></li>
				<li><a href="#">Justin's Facebook</a></li>
				<li><a href="#">Steph's Facebook</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
